.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.hide {
    display: none;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1170px;
    margin: 0 auto;
}

.card__box {
    margin-left: -70px;
    margin-bottom: 30px;
}

.card__box img {
    box-shadow: -3px 2px 9px rgba(0,0,0,.2);
    max-height: 240px;
}
